.overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

.overlay.active {
    display: flex;
}

.overlay__modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.modal {
    background: #FFFFFF;
    position: relative;
    max-width: 980px;
    border: 1px solid #AFAFAF;
    border-radius: 30px;
}
.modal__success {
    padding: 77px 200px 185px;
}
.modal__fail {
    padding: 77px 168px 209px;
}
.modal__title {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: .02em;
    text-align: center;
    margin-bottom: 40px;
}
.modal__text {
    font-family: Nunito;
    font-weight: 700;
    font-style: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 64px;
}
.modal__close {
margin: auto;
    position: absolute;
    top: 310px;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal__btn {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width:360px;
    padding: 24px 112px;
    border: none;
    border-radius: 12px;
    background-color: #FCB500;
    color: #fff;
    font-family: Nunito;
    font-weight: 700;
    font-style: 18px;
    line-height: 27px;
}